{% extends "base.html" %}{% load i18n cache thumbnail %}

{% block head %}
<head>
	<nav>
		<ul class="breadcrumbs">
		<li class="home">
			<a href="/">{% trans "home" %}</a>
		</li>
		{% for pag in page.get_parents %}
		<li> 
			> <a href="{{ pag.get_absolute_url }}">{{ pag.title }}</a>
		</li>
		{% endfor %}
		</ul>
	</nav>
	
	<h1>{{ page.title }}</h1>

	{% if img %}
		<figure>
			<img src="{{ MEDIA_URL}}{{ img.src }}" alt="{{ page.title }}" width="100%" />
			{% if img.by %}<figcaption>{% trans "by" %} <em>{{ img.by }}</em></figcaption>{% endif %}
		</figure>
	{% endif %}

	{% if page.expert %}
	<blockquote>
		{{ page.expert }}
		{% if cuotecaption %}<figcaption>{{ cuotecaption }}</figcaption>{% endif %}
	</blockquote>
	{% endif %}
</head>
{% endblock head %}


{% block aside %}
<ul class="siblings">
	{% for pag in page.get_siblings %}
	<li><a href="{{ pag.get_absolute_url }}">{{ pag.title }}</a></li>
	{% endfor %}
</ul>
{% endblock aside %}


{% block content %}
{% if page.get_translations %}
<ul class="languages">
	{% for pag in page.get_translations %}
	<li><a href="{{ pag.get_absolute_url }}" title="{{ pag.title }}">{{ pag.language }}</a></li>
	{% endfor %}
</ul>
{% endif %}


	<div class="content{% if user.is_staff and page.render_with == 1 %} editable{% endif %}" lang="{{ LANGUAGE_CODE }}" >
	{{ page.content_rndr|safe }}
	</div>

<ul class="subpages">
	{% for pag in page.children.all %}
	<li><a href="{{ pag.get_absolute_url }}">{{ pag.title }}</a></li>
	{% endfor %}
</ul>

{% if map %}
	<div id="map_canvas"></div>
{% endif %}

{% if youtube %}
	<div id="youtube">
		<iframe frameborder="0" src="http://www.youtube.com/embed/{{ youtube }}"></iframe>
	</div>
{% endif %}

{% if iframe %}
	<iframe width='100%' height='500' frameborder='0' src='{{ iframe }}'></iframe>
{% endif %}

{% endblock content %}	

{% block js %}
{{ block.super }} 
{% if user.is_staff and page.render_with == 1 and not EVALUATE_CONTENT %} 
<script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/static/js/ck-in-place.js"></script>
{% endif %}
{% endblock js %}