{% extends "base.html" %}{% load i18n cache thumbnail %}



{% if image %}
		<figure>
		<!-- http://proxy.boxresizer.com/convert?resize=650x150&source= -->
		<img src="../images/{{ image }}" alt="{{ page.title }}" width="100%" />
		{% if page.by %}<figcaption>por <em>{{ page.by }}</em></figcaption>{% endif %}
		<figure>
{% endif %}

<h1>{{ title }}</h1>

	<div class="content">
	{{ content }}
	</div>

{% if map %}
	<div id="map_canvas"></div>
{% endif %}

{% if youtube %}
	<div id="youtube">
		<iframe frameborder="0" src="http://www.youtube.com/embed/{{ youtube }}"></iframe>
	</div>
{% endif %}

{% if iframe %}
	<iframe width='100%' height='500' frameborder='0' src='{{ iframe }}'></iframe>
{% endif %}

{# 		<div class="social">
			<a href="https://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="jtauber">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			<!-- Place this tag where you want the +1 button to render -->
			<g:plusone size="tall"></g:plusone>

			<!-- Place this render call where appropriate -->
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</div> #}